<div class="timeBlock">
  <div class="time">
    <span class="month">Jun</span>
    <span class="date">09</span>
  </div>
  <div class="babyInfo">
    <span class="old">1Y-2M-20D old</span>
  </div>
</div>
