<!-- input: text array  -->
<% for(let i=0 ; i < textData.length; i++){ %>
<div class="post card my-3">
  <div class="card-body">
    <p class="post-time">Posted on <%= textData[i].date %></p>
    <p class="txt-fluid"><%=textData[i].content%></p>
  </div>
</div>
<% }%>
