<div class="col-md-3 age-tree">
  <div class="ulTree">
    <ul class="list-unstyled">
      <li class="tree-item">Today</li>
      <li class="tree-item">
        1 - 2 Years old
        <ul class="nested list-unstyled">
          <li>1Y-2M</li>
          <li>1Y-1M</li>
        </ul>
      </li>
      <li class="tree-item">
        birth - 1 Year
        <ul class="nested list-unstyled">
          <li>12M</li>
          <li>11M</li>
          <!-- Add more months as needed -->
        </ul>
      </li>
    </ul>
  </div>
</div>
