<div class="chartGroup">
  <h3>本週活動紀錄</h3>
  <div id="babyActivityChart"></div>
  <div id="weeklySummary"></div>
</div>
<div class="chartGroup">
  <h3>寶寶生長體重紀錄</h3>
  <div id="babyGrowthWeight"></div>
  <div id="weightRecords"></div>
</div>
<div class="chartGroup">
  <h3>寶寶生長身高紀錄</h3>
  <div id="babyGrowthLength"></div>
  <div id="heightRecords"></div>
</div>
