<nav class="navbar navbar-expand-lg navbar-light sticky-top box-shadow">
  <a class="navbar-brand" href="#">
    <img
      src="/public/images/Logo.png"
      style="width: 30px; height: 30px"
      class="d-inline-block align-top"
      alt=""
      loading="lazy"
    />
    myLittleMoments
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto ulShow">
      <li class="nav-item nav-hover">
        <a class="nav-link imageBlock">Timeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link diaryBlock">Diary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tagsBlock">Tags</a>
      </li>
      <li class="nav-item">
        <a class="nav-link healthBlock">Health</a>
      </li>
    </ul>
  </div>
  <a href="/user/logout"
    ><img class="account" src="/public/images/member.png" alt="logout"
  /></a>
</nav>
