<nav class="navbar navbar-light sticky-top box-shadow">
  <a class="navbar-brand" href="/timeline">
    <img
      src="/public/images/Logo.png"
      style="width: 30px; height: 30px; margin-right: 0.5rem;"
      class="d-inline-block align-top"
      alt=""
      loading="lazy"
    />
    我的小小時光
  </a>

  <div class="btn-group">    
    <% if (user) { %>
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="account" src="/public/images/member.png" alt="User Account">
      </button>
      <div class="dropdown-menu" style="left: -70px;">
        <a class="dropdown-item" href="/timeline/profile">管理中心</a>
        <a class="dropdown-item logout" href="/logout">登出</a>
      </div>
    <% } %>    
  </div>
</nav>
