<div class="centerPage userProfile">
  <div class="userHead">
    <img src="<%=user.picture%>" alt="headtshot" style="width: 50px; height: 50px;">
  </div>
  <div class="userInfo">
    <h2><%=user.name%></h2>
    <span><%=user.id%></span>
  </div>
  <% if (user.lineId === "") { %>
  <div class="lineLogin">
    <span>用LINE登入啟用小時光機器人服務吧！</span>
    <button type="click" id="nativeLineBtn" class="sign-btn">使用 LINE 帳號登入</button>
  </div>
  <% } %>
</div>

<!-- {
  id: 1718590249029,
  lineId: '',
  provider: 'native',
  authRole: 'admin',
  name: 'aaa123456',
  email: 'aaa123456@fakemail.com',
  password: '$2b$10$tzcVE8bVVv6k151knLPC1.xuA5GbFpuRtDO3ekKhDsiu85td5i6by',
  picture: 'https://d2baetmhv58dd6.cloudfront.net/default/defaultUser',
  timestamp: 2024-06-17T02:10:49.000Z
} -->