<div class="firstFollow-div divShow">
  <form id="firstFollowForm" style="margin: 2rem 0;">
    <div class="sign-group">
        <label for="inputRole">關係</label>
        <select
        class="sign-control"
          id="inputRole"
          name="babyRole"
          value="family"
        />
            <option value="family">家人</option>
            <option value="fans">粉絲</option>
        </select>
    </div>
    <br />
    <div class="sign-group">
      <label for="inputBabyId">寶寶代碼</label>
      <input
        class="sign-control"
        type="number"
        id="inputBabyId"
        placeholder="請輸入寶寶代碼"
        name="babyId"
        maxlength="20"
        required
      />
    </div>
    <br />
    <button type="submit" class="sign-btn sign-btn-primary">追蹤寶寶</button>
    <p class="showNewBabyLink">沒有寶寶代碼，我要<a class="newBaby-a">新增寶寶</a></p>
  </form>
</div>



