<div class="newBabyForm-div divHide">
    <form id="newBabyForm" style="margin: 2rem 0;" enctype="multipart/form-data">
      <div class="sign-group">
          <label for="inputBabyRole">關係</label>
          <select
          class="sign-control"
            id="inputBabyRole"
            name="babyRole"
            value="family"
          />
              <!-- <option value="manager">父母</option> -->
              <option value="family">家人</option>
          </select>
      </div>
      <br />
      <div class="sign-group">
        <label for="inputBabyCall">稱呼
      </label>
        <input
          class="sign-control"
          type="text"
          id="inputBabyCall"
          placeholder="寶寶怎麼稱呼您?"
          name="babyCall"
          value="媽媽"
          required
        />
      </div>
      <br />
      <div class="sign-group">
        <label for="inputBabyName">寶寶名稱</label>
        <input
          class="sign-control"
          type="text"
          id="inputBabyName"
          placeholder="請輸入寶寶名稱"
          name="babyName"
          value="Ivy"
          required
        />
      </div>
      <br />
      <div class="sign-group">
        <label for="inputBabyGender">寶寶性別</label>
        <select
            class="sign-control"
            id="inputBabyGender"
            name="babyGender"
            value=""
        />
            <option value="boy">男孩兒</option>
            <option value="girl">女孩兒</option>
        </select>
      </div>
      <br />
      <div class="sign-group">
        <label for="inputBabyBirth">寶寶生日</label>
        <input
            type="date"
            class="sign-control"
            id="inputBabyBirth"
            name="babyBirth"
            required
        />
      </div>
      <br />
      <!-- <div class="sign-group">
        <label for="inputBabyId">寶寶代碼</label>
        <input
          class="sign-control"
          type="number"
          id="inputBabyId"
          placeholder="請輸入寶寶代碼"
          name="babyId"
        />
      </div>
      <br /> -->
      <div class="sign-group">
        <div class="showBabyTrainBox">
            <input id="showBabyTrain" type="checkbox" onclick="showBabyTrainBox()"/>
            <label for="showBabyTrain" style="font-size: 1rem">是否自動蒐集親友內含寶寶的家庭合照</label>
        </div>
        <script>
            function showBabyTrainBox() {
                const trainBox = document.getElementById("babyTrainBox");
                if (showBabyTrain.checked) {
                    trainBox.style.display = "block"
                } else {
                    trainBox.style.display = "none"
                }
            }
        </script>
        <br />
        <div id="babyTrainBox" class="sign-control" style="display: none;">
            <p>為自動辨識寶寶</p>
            <p>請上傳至少一張包含五官的正臉、側臉、上仰照片</p>
            <div class="trainBox-row sampleBox">
                <div class="sample">
                    <img src="/public/images/front.png" alt="front">
                </div>
                <div class="sample">
                    <img src="/public/images/side.png" alt="side">
                </div>
                <div class="sample">
                    <img src="/public/images/upward.png" alt="upward">
                </div>
            </div>
            <br>
            <div class="trainUploadBox">
                <div class="trainUpload">
                  <div class="input-group mb-3">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputBabyFront" name="babyFront">
                      <label class="custom-file-label" for="inputBabyFront" aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                  </div>
                </div>
                <div class="trainUpload">
                  <div class="input-group mb-3">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputBabySide" name="babySide">
                      <label class="custom-file-label" for="inputBabySide" aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                  </div>
                </div>
                <div class="trainUpload">
                  <div class="input-group mb-3">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputBabyUpward" name="babyUpward">
                      <label class="custom-file-label" for="inputBabyUpward" aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <br />
      <button type="submit" class="sign-btn sign-btn-primary">New Baby</button>
      <p>已有寶寶代碼，我要<a class="followBaby-a">追蹤寶寶</a></p>
    </form>
  </div>
  
  
  