<div class="login-div formShow">
  <form id="loginForm" action="/user/login" method="POST">
    <div class="sign-group">
      <label for="inputEmail">信箱</label>
      <input
        class="sign-control"
        type="email"
        id="inputEmail"
        placeholder="請輸入您的信箱"
        name="email"
        maxlength="50"
        value="guest123456@fakemail.com"
        required
      />
    </div>
    <br />
    <div class="sign-group">
      <label for="inputLoginPassword">密碼</label>
      <input
        class="sign-control"
        type="password"
        id="inputLoginPassword"
        placeholder="請輸入您的密碼"
        name="password"
        maxlength="50"
        value="guest123456"
        required
      />
    </div>
    <br />
    <button type="submit" class="sign-btn sign-btn-primary">登入</button>
    <button type="click" id="lineBtn" class="sign-btn">使用 LINE 帳號登入</button>
    <p>沒有小時光帳號，我要去 <a class="signin-a">註冊</a></p>
  </form>
</div>
