<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <%- include ("partials/head") %>
    <title>我的小小時光 | Login</title>
  </head>
  <body>
    <%- include ("partials/nav", { user }) %>
    <main>
      <div class="home">
        <div class="errorImage" style="width: 60%;">
            <img src="/public/images/notFound.jpg" alt="">
        </div>
      </div>
    </main>
    <%- include ("partials/footer") %>
  </body>
</html>
