<!DOCTYPE html>
<html lang="zh-Hant">
  <body>
    <main>
      <h3 style="font-size: 2rem">Welcome to myLineBot!</h3>
      <div class="main-content">
        <img src="<%=imgUrl%>" alt="s3Image" />
      </div>
    </main>
  </body>
</html>
