<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/head") %>
    <title>我的小小時光 | Timeline</title>
  </head>
  <body>
    <!------------ baby Nav ------------>
    <%- include ("partials/nav", { user }) %>
    <div class="container-fluid">
        <div class="row h-100">
          <!-- baby followed list -->
          <div class="bg-light p-3 baby-list">
            <ul class="list-group" id="friendList">  
                <li class="list-group-item user-item user-selected">
                    個人資料
                </li>
                <li class="list-group-item user-item">
                    管理中心
                </li>
            </ul>
          </div>
          <div class="post-content">
            <!-- userProfile -->
            <%- include ("partials/userProfileInfo", { user }) %>
            <!-- userManager -->            
            <%- include ("partials/userUpdateBaby", { managerData, followsData}) %>
          </div>
          <div class="col-md-3">
            <div class="fixedBtn toTop">
              <a href="#"><i class="fa-solid fa-chevron-up"></i></a>    
            </div>            
          </div>
        </div>
    </div>
  </body>
</html>
